@import "../../_variables";

.button {
  width: 28px;
  height: 28px;
  padding: 2px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  svg path {
    transition: all 0.2s ease-out;
  }
  &.fullBorderRadius {
    border-radius: 100%;
  }
  &-theme {
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  &-arrow {
    padding: 18px;
    width: 60px;
    height: 60px;
    border: 1px solid $color-primary-light-gray;
    svg path {
      fill: $color-primary-dark-gray;
    }
  }
  &-light {
    background-color: $color-secondary-white;
    svg path {
      fill: $color-primary-dark-gray;
    }
    &:hover, &:focus {
      svg path {
        fill: $color-primary-black;
      }
    }
    &:disabled {
      svg path {
        fill: $color-primary-dark-gray;
      }
      &:hover {
        svg path {
          fill: $color-primary-dark-gray;
        }
      }
    }

    &.button-arrow:hover {
      background-color: $color-primary-white;
      svg path {
        fill: $color-primary-dark-gray;
      }
    }
  }
  &-dark {
    background-color: $color-secondary-black;
    svg path {
      fill: $color-primary-light-gray;
    }
    &:hover, &:focus {
      svg path {
        fill: $color-primary-white;
      }
    }
    &:disabled {
      background-color: $color-secondary-black;
      svg path {
        fill: $color-primary-light-gray;
      }
      &:hover {
        background-color: $color-secondary-black;
        svg path {
          fill: $color-primary-light-gray;
        }
      }
    }
    &.button-arrow:hover {
      background-color: #242222;
      svg path {
        fill: $color-primary-light-gray;
      }
    }
  }
}