@import "../../_variables";

.text-field {
  width: 100%;
  transition: background-color 0.2s ease-out;
  &__label {
    display: inline-block;
    margin: 0 0 8px 0;
    color: $color-primary-black;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
  }
  &__input {
    background-color: $color-primary-white;
    color: $color-primary-dark-gray;
    border: 1px solid $color-primary-light-gray;
    border-radius: 4px;
    padding: 12px 16px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    transition: border-color 0.2s ease-out;
    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      color: $color-primary-light-gray;
    }
    &:hover {
      border-color: $color-secondary-gray;
    }
    &:focus {
      border-color: $color-primary-dark-gray;
    }
    &-error {
      border-color: $color-accent-red !important;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $color-primary-white inset;
      -webkit-text-fill-color: $color-primary-dark-gray !important;
    }
  }
  &__error {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin: 4px 0 0 0;
    font-size: 12px;
    font-weight: 300;
    color: $color-accent-red;
  }
  &-dark {
    .text-field {
      &__label {
        color: $color-primary-white;
      }
      &__input {
        background-color: $color-secondary-black;
        border: 1px solid $color-secondary-black;
        &:hover {
          border: 1px solid $color-primary-dark-gray;
        }
        &:focus {
          border: 1px solid $color-primary-light-gray;
        }
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px $color-secondary-black inset;
          -webkit-text-fill-color: $color-primary-white !important;
        }
      }
    }
  }
}