@import "../../_variables";

.card {
  width: 100%;
  max-width: 392px;
  max-height: 185px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &__image {
    max-width: 100%;
    transform: scale(1);
    transition: all 0.5s ease-out;
    user-select: none;
    img {
      max-width: 100%;
    }
  }
  &:hover {
    .card__image {
      transform: scale(1.2);
    }
  }
  &__body {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-primary-black;
    width: 84.29%;
    max-width: 300px;
  }
  &__info {
    padding: 8px 0 8px 12px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -24px;
      bottom: 0;
      width: 24px;
      background: $color-accent-gold url("../../assets/img/arrow_icon.svg") center no-repeat;
    }
  }
  &__title {
    color: $color-primary-white;
    font-family: $font-cormorant-sc;
    margin: 0 0 4px 0;
  }
  &__date {
    color: $color-accent-gold;
    display: flex;
    align-items: center;
    column-gap: 2px;
  }
  @media (min-width: $md4) {
    max-height: 220px;
  }
  @media (min-width: $md3) {
    &__title {
      font-size: 16px;
    }
    &__date {
      font-size: 12px !important;
    }

    &__info {
      padding: 12px 0 12px 12px;
      position: relative;
    }
  }
  @media (min-width: $maxWidthContainer) {
    max-height: 260px;
    &__body {
      padding: 20px 20px 20px 0;
    }
    &__title {
      margin: 0 0 8px 0;
    }
    &__info {
      padding: 0 0 0 20px;
      &::after {
        content: none;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        background: $color-accent-gold;
      }
    }
  }
}