@import "../../_variables";

.card {
  width: 100%;
  max-width: 392px;
  max-height: 185px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &-light {
    .card__body {
      background-color: $color-primary-white;
    }
    .card__arrow {
      background-color: $color-accent-red;
    }
    .card__title {
      color: $color-primary-black;
    }
    .card__date {
      color: $color-accent-red;
    }
    .card__info {
      &:before {
        background: $color-accent-red;
      }
    }
  }
  &-dark {
    .card__body {
      background-color: $color-primary-black;
    }
    .card__arrow {
      background-color: $color-accent-gold;
    }
    .card__title {
      color: $color-primary-white;
    }
    .card__date {
      color:$color-accent-gold;
    }
    .card__info {
      &:before {
        background: $color-accent-gold;
      }
    }
  }
  &__image {
    max-width: 100%;
    transform: scale(1);
    transition: all 0.5s ease-out;
    user-select: none;
    img {
      max-width: 100%;
    }
  }
  &:hover {
    .card__image {
      transform: scale(1.2);
    }
  }
  &__body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 84.29%;
    max-width: 300px;
  }
  &__info {
    padding: 8px 0 8px 12px;
    position: relative;
  }
  &__arrow {
    position: absolute;
    top: 0;
    right: -24px;
    bottom: 0;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-family: $font-cormorant-sc;
    margin: 0 0 4px 0;
  }
  &__date {
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-family: $font-inter;
    font-size: 8px;
  }
  @media (min-width: $md4) {
    max-height: 220px;
  }
  @media (min-width: $md3) {
    &__title {
      font-size: 16px;
    }
    &__date {
      font-size: 12px !important;
    }

    &__info {
      padding: 12px 0 12px 12px;
      position: relative;
    }
  }
  @media (min-width: $maxWidthContainer) {
    max-height: 260px;
    &__body {
      padding: 20px 20px 20px 0;
    }
    &__title {
      margin: 0 0 8px 0;
    }
    &__info {
      padding: 0 0 0 20px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
      }
    }
    &__arrow {
      display: none;
    }
  }
}