@import "../../_variables";

.skeleton {
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  position: relative;
  background-color: #eeeded;
  transition: background-color 0.2s ease-out;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: linear-gradient(90deg, rgba(159,159,159,0.01) 0%, rgba(200, 200,200 ,0.07) 50%, rgba(159,159,159,0.01) 100%);
    transform: translateX(-100%);

    animation-name: skeleton-animation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
  }
  &__body {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 8px 12px;
    width: 260px;
  }
  &__title {
    width: 160px;
    height: 15px;
    background-color: #eeeded;
    margin: 0 0 4px 0;
  }
  &__subtitle {
    width: 47px;
    height: 10px;
    background-color: #eeeded;
  }
  &-dark {
    background-color: #0d0d0d;
    &::before {
      background: linear-gradient(90deg, rgba(85,85,85,0.01) 0%, rgba(159,159,159,0.07) 50%, rgba(85,85,85,0.01) 100%);
    }
    .skeleton {
      &__body {
        background-color: $color-primary-black;
      }
      &__title, &__subtitle {
        background-color: #0d0d0d;
      }
    }
  }
  @media (min-width: $md3) {
    &__body {
      padding: 12px;
      width: 324px;
    }
    &__title {
      width: 214px;
      height: 19px;
    }
    &__subtitle {
      width: 70px;
      height: 15px;
    }
  }
  @media (min-width: $maxWidthContainer) {
    &__body {
      width: 300px;
    }
  }
}

@keyframes skeleton-animation {
  0% {
    transform: translateX(-100%);
    left: 0;
  }
  70% {
    transform: translateX(100%);
    left: 100%;
  }
  100% {
    transform: translateX(100%);
    left: 100%;
  }
}