@import "../../_variables";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: $maxWidthContainer;
  padding: 0 100px;
  margin: 0 auto;
  @media (max-width: $md1) {
    padding: 0 20px;
  }
}