@import "../../_variables";

.home {
  background-color: $color-primary-white;
  transition: background-color 0.2s ease-out;
  & > &__content {
    padding-bottom: 80px;
  }
  &__content {
    position: relative;
    flex: 1;
  }
  &-dark {
    background-color: $color-primary-black;
  }
  @media (min-width: $md3) {
    & > &__content {
      padding-bottom: 100px;
    }
  }
}