@import "../../_variables";

.artist {
  background-color: $color-primary-white;
  transition: background-color 0.2s ease-out;
  &__menu {
    padding: 16px 0 12px 0;
  }
  &-hero {
    margin: 0 -22px;
    display: flex;
    flex-direction: column;
    &-info {
      order: 2;
      position: relative;
      left: 0;
      top: -120px;
      margin-bottom: -120px;
      width: 92.75%;
      max-width: 560px;
      &__intelligence {
        max-width: 560px;
        background-color: $color-primary-white;
        padding: 20px;
      }
      &__data {
        background-color: $color-primary-white;
        padding: 20px 0 0 20px;
      }
      &__title {
        line-height: 33.3px;
        color: $color-accent-red;
      }
      &__date, &__country {
        display: inline-block;
        line-height: 14.53px;
        color: $color-primary-dark-gray;
      }
      &__date, &__title {
        margin: 0 0 8px 0;
      }
      &__date, &__title, &__country {
        font-family: $font-cormorant-sc;
      }
      &__text {
        line-height: 22.4px;
        position: relative;
        overflow: hidden;
        height: 100px;
        background-image: linear-gradient(180deg, $color-primary-dark-gray 10%, transparent);
        -webkit-background-clip: text;
        color: transparent;
        margin: 0 0 20px 0;
        &.open {
          height: auto;
          -webkit-mask-image: none;
        }
      }
      &__button {
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin: 0 0 30px 0;
        svg path {
          fill: $color-primary-dark-gray;
        }
      }
      &__genres {
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 12px;
      }
      &__genre {
        padding: 8px 16px;
        border-radius: 30px;
        background-color: rgba(18, 18, 18, 0.05);
      }
    }
    &__image {
      user-select: none;
      order: 1;
      width: 100%;
      height: 450px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (min-width: $md3) {
      &-info {
        width: 100%;
        max-width: none;
        &__intelligence {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-template-rows: repeat(2, auto);
        }
        &__date, &__country {
          grid-row: 1 / 2;
          margin: 0 0 12px 0;
          font-size: 16px;
        }
        &__title {
          grid-column: 1 / 3;
          margin: 0;
          position: relative;
          font-size: 48px;
          &::before {
            content: "";
            position: absolute;
            left: -18px;
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: $color-accent-red;
          }
        }
        &__country {
          grid-column: 2 / 3;
        }
        &__data {
          padding: 20px 20px 0 20px;
        }
        &__genres {
          column-gap: 20px;
        }
      }
      &__image {
        height: 500px;
      }
    }
    @media (min-width: $maxWidthContainer) {
      position: relative;
      &-info {
        position: absolute;
        top: 60px;
        left: 0;
        max-width: 605px;
        &__intelligence {
          max-width: none;
          padding: 60px 80px 30px 80px;
        }
        &__data {
          padding: 20px 80px 60px 80px;
        }
        &__date, &__country {
          margin: 0 0 32px 0;
        }
        &__title {
          font-size: 60px;
          &::before {
            left: -80px;
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -30px;
            height: 2px;
            width: 30px;
            background-color: $color-primary-dark-gray;
          }
        }
      }
      &__image {
        height: 1000px;
        width: 1000px;
        margin: 0 0 0 auto;
      }
    }
  }
  &-artworks {
    padding: 60px 0 80px 0;
    &__title {
      margin: 0 0 60px 0;
      font-family: $font-cormorant-sc;
      color: $color-accent-red;
    }
  }

  &.dark {
    background-color: $color-primary-black;
    .artist-hero {
      &-info {
        &__data, &__intelligence {
          background-color: $color-primary-black;
        }
        &__date, &__country {
          color: $color-secondary-gray;
        }
        &__title {
          color: $color-accent-gold;
          &:before {
            background-color: $color-accent-gold;
          }
          &:after {
            background-color: $color-primary-light-gray;
          }
        }
        &__text {
          background-image: linear-gradient(180deg, $color-primary-light-gray 10%, transparent);
        }
        &__button svg path {
          fill: $color-primary-light-gray;
        }
        &__genre {
          background-color: rgba(205, 205, 205, 0.05);
          color: $color-primary-light-gray;
          border: 1px solid $color-primary-light-gray;
        }
      }
    }
    .artist-artworks {
      &__title {
        color: $color-accent-gold;
      }
    }
  }
  @media (min-width: $md3) {
    &__menu {
      padding: 36px 0 20px 0;
    }
    &-artworks {
      padding: 100px 0;
      &__title {
        font-size: 60px;
      }
    }
  }
  @media (min-width: $maxWidthContainer) {
    &__menu {
      padding: 52px 0 24px 0;
    }
    &-artworks {
      padding: 160px 0 100px 0;
      &__title {
        padding: 0 0 0 80px;
      }
    }
  }
}