@import "../../_variables";

.modal {
  padding: 80px 30px;
  background-color: $color-secondary-white;
  &.drag {
    overflow: hidden;
  }
  &__left {
    margin: 0 0 40px 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  &__select {
    margin: 0 0 20px 0;
  }
  &-dark {
    background-color: $color-primary-black;
  }
  @media (min-width: $md3) {
    &__left {
      margin: 0 0 60px 0;
    }
    &__right {
      row-gap: 40px;
    }
  }
  @media (min-width: $maxWidthContainer) {
    padding: 80px 100px;
    max-width: 800px;
    &__right {
      align-items: start;
    }
    &__content {
      display: grid;
      column-gap: 60px;
      grid-template-columns: 200px 340px;
      align-items: start;
    }
  }
}
