@import "../../_variables";

.footer {
  padding: 32px 0;
  border-top: 1px solid $color-secondary-gray;
  background-color: $color-primary-white;
  transition: background-color 0.2s ease-out;
  &__left {
    margin: 0 0 20px 0;
  }
  &__info {
    align-items: end;
    margin: 0 0 10px 0;
    column-gap: 5px;
  }
  &__text, &__name, &__link {
    font-weight: 300;
    font-size: 12px;
  }
  &__link {
    font-weight: 500;
  }
  &__text {
    color: $color-primary-dark-gray;
    max-width: 325.5px;
    line-height: 22.4px;
    margin: 0 0 3px 0;
  }
  &__name {
    color: $color-secondary-gray;
  }
  &__socials {
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: $color-primary-dark-gray;
  }
  &-dark {
    background-color: $color-primary-black;
    & .footer__text, &__link {
      color: $color-primary-light-gray;
    }
    & .footer__socials {
      color: $color-primary-light-gray;
    }
  }
  @media (min-width: $md3) {
    padding: 40px 0;
    &__content {
      align-items: start;
    }
    &__content, &__info{
      display: flex;
      justify-content: space-between;
    }
    &__info {
      margin: 0 0 12px 0;
    }
    &__text {
      margin: 0;
    }
    &__left {
      margin: 0;
    }
    &__text, &__name, &__link {
      font-size: 16px;
    }
  }
  @media (min-width: $maxWidthContainer) {
    &__info {
      margin: 0 0 20px 0;
    }
  }
}